{% load i18n %}
<div id="feedback-submit-success">
    <div class="feedback-logo mb-3">
    	<h3>{% trans 'Feedback' %}</h3>
    </div>
    <p>
    	<strong>
    		{% trans 'Thank you for your feedback. We value every piece of feedback we receive.'%}</p>
    	</strong>
    <p>
    	<strong>
    		{% trans 'We cannot respond individually to every one, but we will use your comments as we strive to improve your experience.' %}
    	</strong>
  	</p>
    <button class="feedback-close-btn btn btn-success">{% trans 'OK' %}</button>
    <div class="feedback-wizard-close"></div>
</div>
