{% load i18n %}
<div id="feedback-overview">
	<div class="feedback-logo">
		<h3>{% trans 'Feedback' %}</h3>
	</div>
	<div id="feedback-overview-description" class="mt-3">
		<div id="feedback-overview-description-text"><h4>{% trans 'Description' %}</h4>
			<!-- <h4 class="feedback-additional">{% trans 'Additional info' %}</h4> -->
			<!-- <div id="feedback-additional-none"><span>{% trans 'None' %}</span></div> -->
			<!-- <div id="feedback-browser-info"><span>{% trans 'Browser Info' %}</span></div> -->
			<!-- <div id="feedback-page-info"><span>{% trans 'Page Info' %}</span></div> -->
			<!-- <div id="feedback-page-structure"><span>{% trans 'Page Structure' %}</span></div> -->
		</div>
	</div>
	<div id="feedback-overview-screenshot"><h4>{% trans 'Screenshot' %}</h4></div>
	<div class="feedback-buttons">
		<button id="feedback-overview-back" class="btn btn-primary">{% trans 'Back' %}</button>
		<button id="feedback-submit" class="btn btn-success">{% trans 'Submit' %}</button>
	</div>
	<div id="feedback-overview-error">{% trans 'Please enter a description.' %}</div>
	<div class="feedback-wizard-close"></div>
</div>
